@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  background-color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

input{
  margin:auto;
  border:none;
  padding: 8px 25px;
  margin-left:10px;
}

.logo{
  height: 15%;
  width: 15%;
  margin-left: 5%;
  margin-top: 3%;
}

.heading{
  text-align: center;
  color: #36466c;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b0d7fb;
  border-radius: 20px;
  padding: 1.5rem 4rem;
  margin-left:5%;
  margin-right:5%; 
  margin-bottom: 2.5rem;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.20);
  min-width: 700px;

}

#nav-text{
  color: #ffffff;
}

.entry{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 4rem;
  margin-left:5%;
  margin-right:5%; 
  margin-bottom: 1rem;
  min-width: 700px;
  border-radius: 20px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.20);

}

.nameEmail{
  display: flex;
  flex-direction: row;
  align-items: start;
}
.item {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

.entry-text{
  color: #36466c;
  font-size: x-large;
  font-weight: 600;

}
.entry-email{
  color: #36466c;
  font-weight: 20;
}

.entry-text, .entry-email, .button{
  display: flex;
  align-items: baseline;
  margin-right: 10px;
  min-width: 200px;
}

.button-text{
  color: #ffffff;
  font-size: large;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
}

button{
  border: none;
  height: 40px;
  width:100px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left:20px;
}

.deleteButton{
  background-color: #fe7676;

}

.addButton{
  background-color: #56c853;
}