@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  background-color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

input{
  margin:auto;
  border:none;
  padding: 8px 25px;
}

.heading{
  text-align: center;
  color: #36466c;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}

.nav{
  display: flex;
  align-items: center;
  background-color: #b0d7fb;
  border-radius: 20px;
  padding: 1.5rem 4rem;
  margin-left:10%;
  margin-right:10%; 
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.20);
  min-width: 750px;

}

#nav-text{
  color: #ffffff;
}

.input-display{
  display: flex;
  padding: 1px 32px;
}

.entry{
  display: flex;
  margin-left:10%;
  margin-right:10%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px 32px;
  min-width: 750px;
  
}

.entry-text{
  color: #36466c;
  font-size: x-large;
  font-weight: 600;
  
}
.entry-email{
  display: flex;
  text-align: right;
  background-color: #ffffff;
  color: #36466c;
  font-weight: 20;
}

.button-text{
  color: #ffffff;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}

button{
  border: none;
  padding: 0px 15px;
  margin: auto;
}



.deleteButton{
  background-color: #fe7676;
  border-radius: 15px;
}

.addButton{
  background-color: #56c853;
  border-radius: 15px;
}